*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-header: #FF6900;
    --color-footer: #1A1A1A;
    --color-primary: #FFFFFF;

}

.container{
    max-width: 1200px;
}

.debug{
    border: 1px solid black;
}

 #logo > img{
    width: 20%;
    min-width: 20%;
}

header{
    background-color: var(--color-header);
    padding: 15px 10px;
    color: var(--color-primary);
    text-align: center;
}

.d-flex{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

ul{
    list-style: none;
}

li{
    padding: 0px 5px;
}

main{
    margin: 0 auto;
}

.card{
    width: calc(100% / 3);
}

.relative{
    position: relative;
}

.heart{
    font-size: 30px;
    background-color: var(--color-primary);
    position: absolute;
    top: 10px;
    right: 0px;
    padding: 15px;
}

img{
    display: block;
}